@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #141539;
    background-image: radial-gradient(#1F3756, #141539);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Barlow Semi Condensed', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

main {
    height: 100%;
    width: 100vw;
}