@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    height: 100vh;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

header {
    width: 55%;
    padding: 1rem 1.5rem;
    margin: 3rem auto;
    border-radius: 1rem;
    border: 3px solid hsl(217, 16%, 45%);
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        color: white;
        margin: 0;
        line-height: 0.8;
        font-size: 42px;
        text-transform: uppercase;
    }

    .result-box {
        width: 9.5rem;
        background: white;
        padding-bottom: 1.3rem;
        text-align: center;
        border-radius: 8px;

        p {
            letter-spacing: 1px;
            color: hsl(229, 64%, 46%);
            margin-bottom: 0.5rem;
        }

        h1 {
            color: hsl(229, 25%, 31%);
            font-size: 4.2rem;
        }
    }
}

.game-area {
    display: flex;
    align-items: center;
    justify-content: center;

    div {
        width: 200px;
        height: 200px;
        margin: auto;
        border-radius: 50%;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 70px;
        }
    }

    .paper {
        border: 20px solid hsl(230, 89%, 65%);
    }

    .scissors {
        border: 20px solid hsl(40, 84%, 53%);
    }

    .rock {
        border: 20px solid hsl(349, 70%, 56%);
    }
}